p{
    font-size: 30px;

}


.div{
    background-color: #808080;
    transform: translateY(38vh);
}

hr{
    border: 2px solid black;
}

::selection{
    color: white;
    background-color: hsl(200, 45%, 45%)
}